<div class="jumbotron">

	<form class="form-signin">
		<h3 class="form-signin-heading" ng-show="createMode">Registration</h3>
		<h3 class="form-signin-heading" ng-hide="createMode">Login</h3>
		<label for="inputName" class="sr-only" ng-cloak ng-show="createMode">Name</label>
		<input type="text" id="inputName" class="form-control form-control-top" placeholder="Full Name" ng-model="name" ng-cloak ng-show="createMode">
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" id="inputEmail" class="form-control form-control-middle" placeholder="Email address" ng-model="email">
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control form-control-middle" ng-class="{'form-control-bottom':!createMode}" placeholder="Password" ng-model="pass">
		<label ng-cloak ng-show="createMode" class="sr-only">Confirm Password</label>
		<input ng-cloak ng-show="createMode" type="password" ng-model="confirm" class="form-control form-control-bottom" placeholder="Confirm Password"/>
		<button class="btn btn-lg btn-warning btn-block" ng-cloak ng-show="createMode" ng-click="createAccount()">Register</button>
		<button class="btn btn-lg btn-warning btn-block" ng-click="login(email, pass)" ng-hide="createMode">Login</button>
	</form>
	<div class="text-center">
		<button ng-cloak ng-show="createMode" ng-click="createMode = false" class="btn btn-link">Cancel</button>
		<button ng-click="createMode = true" ng-hide="createMode" class="btn btn-link">Register</button>
	</div>
	<p ng-show="err" class="error">{{err}}</p>

</div>