<form class="form-signin">
	<h3 class="form-signin-heading">Quick Appointment</h3>
	<label for="inputName" class="sr-only">Name</label>
	<input type="text" id="inputName" class="form-control form-control-top" placeholder="Full Name" required autofocus>
	<label for="inputEmail" class="sr-only">Email address</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	<label for="inputComment" class="sr-only">Comment</label>
	<input type="text" id="inputComment" class="form-control form-control-bottom" placeholder="Comment" required>
	<button class="btn btn-lg btn-warning btn-block" type="submit">Quick Appointment</button>
</form>